* {
  margin: 0;
  padding: 0;
  /* outline: 1px solid red; */
}

.mainBlock-0 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 45px;
  align-items: center;
  height: 626px;
  background-image: url("img_background.png");
  background-color: #404eed;
}

.button-container {
  margin-top: -10px;
  display: flex;
  gap: 10px;
}

.download-bttn-1 {
  padding: 10px;
  background-color: white;
  border: 0.1px solid black;
  border-radius: 40px;
  width: 307px;

  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 32px;
}

.download-bttn-1:hover {
  box-shadow: 1px 1px 40px #23272a;
  color: #404eed;
}

.download-bttn-2 {
  padding: 10px;
  background-color: #23272a;
  padding: 10px;
  border: 0.1px solid black;
  border-radius: 40px;
  width: 307px;
  color: white;

  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 32px;
}

.download-bttn-2:hover {
  box-shadow: 1px 1px 40px #23272a;
}

.title-text-0 {
  font-size: 50px;
  letter-spacing: -2px;
  font-family: "Archivo Black", sans-serif;
  color: white;
  font-weight: 200;
}

.title-description-0 {
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  text-align: center;
  width: 830px;
  color: white;
}

.mainBlock-1,
.mainBlock-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 5vw; */
  gap: 100px;
  height: 676px;
  background-color: white;
}

.mainBlock-1 .right-container,
.mainBlock-3 .right-container {
  width: 390px;
}

.title-text-1,
.title-text-3 {
  font-family: "Ginto Normal", Whitney, "Helvetica Neue", "Helvetica", "Arial",
    "sans-serif";
  font-size: 48px;
  font-weight: 780;
  line-height: 58px;
  color: #23272a;
  width: 360px;
  letter-spacing: -1px;
}

.title-description-1,
.title-description-3 {
  margin: 24px 0 0 0;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 33px;
  font-weight: 400;
  color: #23272a;
  width: 410px;
}

/*  ##### */
/* Second BLock Main */
/* ##### */

.mainBlock-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  height: 676px;
  background-color: #f6f6f6;
}

.mainBlock-2 .left-container {
  width: 390px;
}

/* NAV */

.middleMenu {
  display: flex;
  gap: 70px;
}

.discord img {
  /* margin-left: 10px; */
  width: 4%;
  height: auto;
}

.nav {
  display: flex;
  background-color: #404eed;
  /* flex: 1 1 auto; */
  /* text-align: center; */
  /* line-height: 140%; */
  align-items: center;
  height: 80px;
  /* justify-content: space-betweesn; */
  gap: 220px;
  /* width: 100%; */
  /* margin-left: 50px; */
  margin-left: -90px;
}

.nav > div {
  background-color: #404eed;
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  color: #ffffff;
  font-family: Ginto;
  text-align: center;
  font-weight: 600;
  font-family: "Whitney", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.discordButton {
  display: inline-flex;
  text-align: end;
  border-radius: 40px;
  padding: 7px 16px;
  background-color: white;
  line-height: 24px;
  font-weight: 500;
  font-size: 14px;
  padding: 7px 16px;
  color: #23272a;
  align-items: center;
  font-family: "Whitney", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
}

/* ASHRIN CSS */

.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.head {
  font-size: clamp(20px, 4vw, 40px);
  font-weight: 800;
  line-height: 95%;
  font-weight: 800;
}

.ele {
  display: flex;
  flex-direction: column;
  column-gap: 5px;
  line-height: 1.625;
  align-items: center;
  justify-content: center;
}

.eled {
  display: flex;
  align-items: center;
  justify-content: center;
}

.low {
  background-image: url("img_two.png");
  margin-top: 30px;
  z-index: 1;
  font-weight: 600;
  font-size: 32px;
  font-weight: 800;
  line-height: 95%;
}

.btn {
  width: auto;
  margin-top: 40px;
  justify-content: center;
  border-radius: 28px;
  font-size: 20px;
  background-color: #5865f2;
  color: white;
  line-height: 24px;
  cursor: pointer;
  font-weight: 500;
  height: 8vh;
  width: 20vw;
  box-sizing: border-box;
  border: none;
}

.bottom {
  color: white;
  background-color: #27232a;
  margin-top: 10vh;
  width: 99vw;
  bottom: 0;
}

.bot {
  margin-left: 5vw;
  display: flex;
  gap: 11vw;
}

.full {
  width: 100%;
}

hr {
  background-color: #5865f2;
  color: #5865f2;
  width: 83vw;
  margin-left: 5vw;
}
.tit {
  color: #5865f2;
}

.bel {
  background-color: #27232a;
  color: white;
  display: flex;
  gap: 50vw;
  width: 99vw;
}

.btn2 {
  height: 5vh;
  margin-left: 17vw;
  margin-top: 2vw;
  border-radius: 40px;
  font-size: 14px;
  padding: 7px 16px;
  line-height: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5865f2;
  border: none;
  color: white;
  cursor: pointer;
}
.btn2:hover {
  background-color: white;
}
.whole {
  margin-top: 5vw;
  background-color: #27232a;
}
.dis {
  margin-left: 5vw;
}

.flag {
  width: 24px;
  height: 16px;
  margin-right: 8px;
  margin-top: 1vh;
}

.ft {
  display: flex;
}

.txt {
  margin-top: 1vh;
}
